
COMPOSE_PROJECT_NAME=lab-container-azure

POSTGRES_USER=devops_admin
POSTGRES_PASSWORD=SuperSecurePassword2026!
POSTGRES_DB=galeria_arte
POSTGRES_PORT=5432

CORS_ORIGIN=http://localhost:8080
BACKEND_URL=http://backend:3000